body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aba0a0;
    font-family: Arial, sans-serif;
}

.timer {
    display: flex;
    gap: 10px;
}

.time__m {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 2rem;
    text-align: center;
}
